html {
  overflow: hidden;
  overflow-y: scroll;
}

body {
  background: $app-white;
  color: $app-black;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $line-height-l-mobile;
  @include remsize(font-size, $font-size-base-mobile);

  @include breakpoint("medium") {
    @include remsize(font-size, $font-size-base-desktop);
    line-height: $line-height-l-desktop;
  }
}

img {
  max-width: 100%;
}

hr {
  background: $app-grey-2;
  border: 0;
  height: 1px;
  margin: 20px 0;
  width: 100%;

  &.no-background {
    background: transparent;
  }
}

.row--spacing {
  margin: 20px 0;

  &-top {
    margin: 0;
    margin-top: 20px;
  }

  &-bottom {
    margin: 0;
    margin-bottom: 20px;
  }
}

.container {
  margin: 0 15px;
  max-width: 1100px;

  @include breakpoint("small") {
    margin: 0 30px;
  }

  @include breakpoint("large") {
    margin: 0 auto;
  }
}

section {
  padding: 20px 0;

  @include breakpoint("small") {
    padding: 30px 0;
  }

  + section {
    padding-top: 0;
  }
}
